<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <title>Image</title>
    <style>
      body,
      html {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Ensures the image covers the entire iframe */
      }
    </style>
  </head>
  <body>
    <img
      src="https://static.wikia.nocookie.net/solo-leveling/images/d/df/Solo_Leveling_-_Anime_Episode_10.png/revision/latest/scale-to-width-down/1000?cb=20240325033519"
      alt="Banner"
    />
  </body>
</html>
